name: Build and Test a Single Version (Base + Consumers)

on:
  workflow_call:
    inputs:
      idris-version:
        required: true
        type: string

# Don't allow us to read from packages
permissions:
  contents: read

jobs:
  base-build:
    name: Build Base (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Base Image
        uses: ./.github/actions/build-base-img
        with:
          idris-version: ${{ inputs.idris-version }}
          platforms: ${{ matrix.platform }}

  base-test-1:
    name: Test 1 Base (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    needs: base-build
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    env:
      TAG: ghcr.io/${{ github.repository }}/base:${{ inputs.idris-version }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Base Image
        uses: ./.github/actions/build-base-img
        with:
          idris-version: ${{ inputs.idris-version }}
          load: true
          tags: ${{ env.TAG }}
          platforms: ${{ matrix.platform }}

      - name: Setup Bats and Bats libs
        uses: bats-core/bats-action@3.0.1
        with:
          bats-version: 1.10.0
          support-version: 0.3.0
          support-path: ${{ github.workspace }}/.bats/bats-support
          assert-version: 2.1.0
          assert-path: ${{ github.workspace }}/.bats/bats-assert
          file-install: false
          detik-install: false

      # LIB_PATH is a env var I use in the setup() function of my bats tests
      # it points to the folder containing bats-assert and bats-support
      - name: Run Test
        env:
          LIB_PATH: ${{ github.workspace }}/.bats
          DOCKER_IMAGE: ${{ env.TAG }}
          IDRIS_VERSION: ${{ inputs.idris-version }}
        run: bats tests/base.bats

  base-test-2:
    name: Test 2 Base (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    needs: base-build
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    env:
      TAG: idris-base-${{ inputs.idris-version }}:test
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Base Image
        uses: ./.github/actions/build-base-img
        with:
          idris-version: ${{ inputs.idris-version }}
          load: true
          tags: ${{ env.TAG }}
          platforms: ${{ matrix.platform }}

      - name: Run Test
        run: |
          docker run ${{ env.TAG }} /bin/bash -c "make test"

