name: Deploy One Version (Base + Consumers)

on:
  workflow_call:
    inputs:
      idris-version:
        required: true
        type: string

permissions:
  packages: write
  contents: read

jobs:
  deploy-base:
    name: Deploy Base (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: create-meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.repository }}/base

      - name: Build and Push Base Image
        uses: ./.github/actions/build-base-img
        with:
          idris-version: ${{ inputs.idris-version }}
          push: true
          tags: ghcr.io/${{ github.repository }}/base:${{ inputs.idris-version }}-${{ matrix.arch }}
          labels: ${{ steps.create-meta.outputs.labels }}
          platforms: ${{ matrix.platform }}

  create-manifest:
    name: Create Multi-Arch Manifest
    runs-on: ubuntu-latest
    needs: deploy-base
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and Push Manifest
        run: |
          docker buildx imagetools create -t ghcr.io/${{ github.repository }}/base:${{ inputs.idris-version }} \
            ghcr.io/${{ github.repository }}/base:${{ inputs.idris-version }}-amd64 \
            ghcr.io/${{ github.repository }}/base:${{ inputs.idris-version }}-arm64

